.body {
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.img {
  border-radius: 20%;
  width: 250px;
  height: 250px;
}

.p {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 800;
}
.btn {
  background-color: rgb(207, 196, 255);
  color: black;
  border-radius: 10px;
  padding: 5px;
  width: 40%;
  margin: 10px;
}
.exit {
  background-color: #ff6675;
  color: black;
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  margin: 10px;
}
.wrapper {
  display: grid;
  background-color: white;
  border-radius: 30px;
  margin: 50px;
  padding: 20px;
}
p {
  font-size: 30px;
}
.form_input {
  width: 40%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #999999;
}
.general {
  display: flex;
  align-items: center;
  justify-content: center;
}
